@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Bodoni+Moda:wght@700&family=Montserrat:wght@300;400&family=Source+Code+Pro:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 860px) {
    .landing1 {
      display: none; /* Hide the image */
    }
  }

.landing-sections{
    display: grid;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.title-header{
    font-size: 30pt;
    font-weight: 600;
    padding-bottom: 10px;
    width: 450px;
}

.intro-explanation{
    margin-bottom: 25px;
    width: 500px;
}

.intro-buttons{
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 16px;
    
}
.landing1{
    height: 300px;
    width: 480px;
    margin-right: 35px;
    border-radius: 10px;
    margin-top: 10px;
}
.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 100px;
    margin-left: 13%;
    margin-right: 10%;
}

.tut-header{
    justify-content: left;
    font-size: 25pt;
    font-weight: 600;
    padding-bottom: 10px;
    
}

.stepBoxes{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    
}
.step-container{
    width: 260px;
}
.step-image{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}
.step-header{
    font-weight: 550;
    font-size: 14pt;
    margin-bottom: 5px;
}
.step-text{

}
.reviews-box{

}

.get-started-box{

}