@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Bodoni+Moda:wght@700&family=Montserrat:wght@300;400&family=Source+Code+Pro:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 860px) {
    .landing1 {
      display: none; /* Hide the image */
    }
  }

.landing-sections{
    display: grid;
}

.title-box{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-top: 150px;
    width: 1090px;
}

.title-header{
    font-size: 30pt;
    font-weight: 600;
    padding-bottom: 10px;
    width: 450px;
}

.intro-explanation{
    margin-bottom: 25px;
    width: 500px;
}

.intro-buttons{
    display: grid;
    grid-template-columns: repeat(2, 190px);
    gap: 16px;
    
}
.landing1{
    height: 300px;
    width: 480px;
    margin-right: 65px;
    border-radius: 10px;
    margin-top: 10px;
}
.how-it-works{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: left;
    padding-top: 100px;
   
}

.tut-header{
    justify-content: left;
    font-size: 25pt;
    font-weight: 600;
    padding-bottom: 10px;   
}

.stepBoxes{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    
}
.step-container{
    width: 260px;
}
.step-image{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}
.step-header{
    font-weight: 550;
    font-size: 14pt;
    margin-bottom: 5px;
}

.reviews-box{
    display: flex;
    align-items: left;
    justify-self: center;
    padding-top: 100px;
    width: 1090px;
}

.rev-header{
    justify-content: left;
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 10px;   
}

.review-image{
    height: 400px;
    width: 1090px;
}

.get-started-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 150px;
  }

.start-1 {
    display: grid;
    grid-template-columns: auto auto; /* Two columns: text and logo */
    align-items: center; /* Vertically aligns items within their grid cells */
    gap: 10px; /* Space between the text and logo */
  }
  
  .start1-text {
    font-size: 25pt;
    font-weight: 600;
    margin: 0; /* Remove default margin */
  }

  .start-button{
    padding-bottom: 150px;
    padding-top: 50px;
  }